*{
    margin: 0;
    padding: 0;
    /* font */
    font-size: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color:rgb(170, 110, 201);
}

#center{
    box-shadow: 5px 5px 10px 2px rgb(0, 0, 0, 0.1);;
    margin:auto;
    align-self: center;
    text-align: center;
    width:80vw;
    height:100vh;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.content{
    display:flex;
    flex-direction: wrap;
    background-color: rgb(231, 231, 231);
    width:70vw;
    height:70vh;
    align-self:center;
    margin:auto;
    margin-top:1em;
    column-gap: 1em;
    row-gap: 1em;
    border-radius: .2em;
    column-gap: 1em;
    padding: 1em;
}

.ID{
    padding-top: .5em;
    display:flex;
    flex-direction: column;
    width: 8em;
    height: 5em;
    border-radius: .2em;
    background-color: white;
    font-size: 1.3em;
}

.ninth{
    color:white;
}

.tenth{
    background-color:lightcoral;
}

.eleventh{
    background-color:lightcyan;
}
.twelfth{
    background-color:lightsteelblue;
}
